@model FlightBookingSystem.Models.Bookings

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Bookings Details</h4>

        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.seats)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.seats)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.rating)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.rating)
                </dd>



                <dt>
                    @Html.DisplayNameFor(model => model.Flight.flightNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Flight.flightNumber)
                </dd>

            </dl>

        </div>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id },new {@class = "btn btn-warning" }) 
    @Html.ActionLink("Back to List", "Index","",new {@class = "btn btn-success" })
</p>
