@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Flight Booking System</title>


    <!-- Bootstrap Core CSS -->
    @Styles.Render("~/Content/vendor/bootstrap/css/bootstrap.min.css")

    <!-- MetisMenu CSS -->
    @Styles.Render("~/Content/vendor/metisMenu/metisMenu.min.css")

    <!-- DataTables CSS -->
    @Styles.Render("~/Content/vendor/datatables-plugins/dataTables.bootstrap.css")

    <!-- DataTables Responsive CSS -->
    @Styles.Render("~/Content/vendor/datatables-responsive/dataTables.responsive.css")

    <!-- Custom CSS -->
    @Styles.Render("~/Content/dist/css/sb-admin-2.css")

    <!-- Custom Fonts -->
    @Styles.Render("~/Content/vendor/font-awesome/css/font-awesome.min.css")



    @Styles.Render("~/Content/HomePageCss/styles/bootstrap4/bootstrap.min.css")
    @Styles.Render("~/Content/HomePageCss/plugins/font-awesome-4.7.0/css/font-awesome.min.css")
    @Styles.Render("~/Content/HomePageCss/plugins/OwlCarousel2-2.2.1/owl.carousel.css")
    @Styles.Render("~/Content/HomePageCss/plugins/OwlCarousel2-2.2.1/owl.theme.default.css")
    @Styles.Render("~/Content/HomePageCss/plugins/OwlCarousel2-2.2.1/animate.css")
    @Styles.Render("~/Content/HomePageCss/plugins/magnific-popup/magnific-popup.css")
    @Styles.Render("~/Content/HomePageCss/styles/main_styles.css")
    @Styles.Render("~/Content/HomePageCss/styles/responsive.css")



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ckeditor")


    <!-- jQuery -->

    @Scripts.Render("~/Content/vendor/jquery/jquery.min.js")

    <!-- Bootstrap Core JavaScript -->

    @Scripts.Render("~/Content/vendor/bootstrap/js/bootstrap.min.js")

    <!-- Metis Menu Plugin JavaScript -->

    @Scripts.Render("~/Content/vendor/metisMenu/metisMenu.min.js")

    <!-- DataTables JavaScript -->

    @Scripts.Render("~/Content/vendor/datatables/js/jquery.dataTables.min.js")

    @Scripts.Render("~/Content/vendor/datatables-plugins/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Content/vendor/datatables-responsive/dataTables.responsive.js")

    <!-- Custom Theme JavaScript -->
    @Scripts.Render("~/Content/dist/js/sb-admin-2.js")

    @Scripts.Render("~/Content/notify.min.js")


    @Scripts.Render("~/Content/HomePageCss/styles/bootstrap4/popper.js")
    @Scripts.Render("~/Content/HomePageCss/styles/bootstrap4/bootstrap.min.js")
    @Scripts.Render("~/Content/HomePageCss/plugins/OwlCarousel2-2.2.1/owl.carousel.js")
    @Scripts.Render("~/Content/HomePageCss/plugins/easing/easing.js")
    @Scripts.Render("~/Content/HomePageCss/plugins/parallax-js-master/parallax.min.js")
    @Scripts.Render("~/Content/HomePageCss/plugins/magnific-popup/jquery.magnific-popup.min.js")





    @RenderSection("scripts", required: false)

</head>
<body>


    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_container d-flex flex-row align-items-center justify-content-start">

                        <!-- Logo -->
                        <div class="logo_container">
                            <div class="logo">

                                <div>FlyBook</div>
                                <div class="logo_image"><img src="~/Content/HomePageCss/images/logo.png" alt=""></div>
                            </div>
                        </div>

                        <!-- Main Navigation -->
                        <nav class="main_nav ml-auto">
                            <ul class="main_nav_list">
                                <li class="main_nav_item">@Html.ActionLink("Home", "Index", "Home")</li>
                                <li class="main_nav_item">@Html.ActionLink("Offers", "Offers", "Home")</li>
                                <li class="main_nav_item">@Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li class="main_nav_item">@Html.ActionLink("Flights", "Index", "Flights")</li>
                                <li class="main_nav_item">@Html.ActionLink("Bookings", "Index", "Bookings")</li>

                                @if (Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "main_nav_item" }))
                                    {
                                        @Html.AntiForgeryToken()


                                        <li class="main_nav_item">
                                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage",routeValues: null, htmlAttributes: new { title = "Manage" })
                                        </li>
                                        <li class="main_nav_item"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

                                    }
                                }
                                else
                                {

                                    <li class="main_nav_item">@Html.ActionLink("Register", "Register", "Account",routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                    <li class="main_nav_item">@Html.ActionLink("Log in", "Login", "Account",routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

                                }


                            </ul>
                        </nav>
                        <!-- Search -->
                        <div class="search">
                            <form action="#" class="search_form">
                                <input type="search" name="search_input" class="search_input ctrl_class" required="required" placeholder="Keyword">
                                <button type="submit" class="search_button ml-auto ctrl_class"><img src="~/Content/HomePageCss/images/search.png" alt=""></button>
                            </form>
                        </div>

                        <!-- Hamburger -->
                        <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Menu -->

    <div class="menu_container menu_mm">

        <!-- Menu Close Button -->
        <div class="menu_close_container">
            <div class="menu_close"></div>
        </div>

        <!-- Menu Items -->
        <div class="menu_inner menu_mm">
            <div class="menu menu_mm">
                <div class="menu_search_form_container">
                    <form action="#" id="menu_search_form">
                        <input type="search" class="menu_search_input menu_mm">
                        <button id="menu_search_submit" class="menu_search_submit" type="submit"><img src="~/Content/HomePageCss/images/search_2.png" alt=""></button>
                    </form>
                </div>
                <ul class="menu_list menu_mm">
                    <li class="menu_item menu_mm">>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="menu_item menu_mm">>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="menu_item menu_mm">>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="menu_item menu_mm">>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="menu_item menu_mm">>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>

                <!-- Menu Social -->

                <div class="menu_social_container menu_mm">
                    <ul class="menu_social menu_mm">
                        <li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="menu_copyright menu_mm">Colorlib All rights reserved</div>
            </div>

        </div>

    </div>



    <div class="home">
        <div class="home_background" style="background-image:url(/Content/HomePageCss/images/home.jpg)"></div>
        <div class="home_content">
            <div class="home_content_inner">
                <div class="home_text_large">discover</div>
                <div class="home_text_small">Discover new worlds</div>
            </div>
        </div>
    </div>

    <div class="find">

        <div class="find_background parallax-window" data-parallax="scroll" data-image-src="/Content/HomePageCss/images/find.jpg" data-speed="0.8"></div>
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="find_form_container">


                        <div class="container body-content">
                            <div class="panel panel-default">
                                @RenderBody()
                                </div>
                                <hr />
                                <footer>
                                    <p>&copy; @DateTime.Now.Year - Flybook</p>
                                </footer>
                            </div>



                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container">
            <div class="row">



            </div>
        </div>
    </footer>



</body>
</html>
