<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Flight Booking System</title>
    @Styles.Render("~/Content/css")

    <!-- Bootstrap Core CSS -->
    @Styles.Render("~/Content/vendor/bootstrap/css/bootstrap.min.css")

    <!-- MetisMenu CSS -->
    @Styles.Render("~/Content/vendor/metisMenu/metisMenu.min.css")

    <!-- DataTables CSS -->
    @Styles.Render("~/Content/vendor/datatables-plugins/dataTables.bootstrap.css")

    <!-- DataTables Responsive CSS -->
    @Styles.Render("~/Content/vendor/datatables-responsive/dataTables.responsive.css")

    <!-- Custom CSS -->
    @Styles.Render("~/Content/dist/css/sb-admin-2.css")

    <!-- Custom Fonts -->
    @Styles.Render("~/Content/vendor/font-awesome/css/font-awesome.min.css")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")



    <!-- jQuery -->

    @Scripts.Render("~/Content/vendor/jquery/jquery.min.js")

    <!-- Bootstrap Core JavaScript -->

    @Scripts.Render("~/Content/vendor/bootstrap/js/bootstrap.min.js")

    <!-- Metis Menu Plugin JavaScript -->

    @Scripts.Render("~/Content/vendor/metisMenu/metisMenu.min.js")

    <!-- DataTables JavaScript -->

    @Scripts.Render("~/Content/vendor/datatables/js/jquery.dataTables.min.js")

    @Scripts.Render("~/Content/vendor/datatables-plugins/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Content/vendor/datatables-responsive/dataTables.responsive.js")

    <!-- Custom Theme JavaScript -->
    @Scripts.Render("~/Content/dist/js/sb-admin-2.js")



    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Flybook", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Flights", "Index", "Flights")</li>
                    <li>@Html.ActionLink("Bookings", "Index", "Bookings")</li>
                    <li>@Html.ActionLink("Users", "Index", "Users")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Flybook</p>
        </footer>
    </div>
 
</body>
</html>
